.product{
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
}
.product .img{
    width: 100%;
    height: 150px;
}

.product .img img{
    width: 100%;
    height:100% ;
    object-fit:fill;
}

.details{
    padding: 5px;
}

.details h4{
    margin-bottom: 5px;
    font-size: 14px;
}

.details p{
    font-size: 14px;
    font-weight: 500;
    color: #888;
}

.details button{
    margin-top: 5px;
    padding: 5px 10px; 
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.details button:hover{
    background-color:rgb(2,104,104) ;
}
.btnRemove{
    background-color:#cf3d3d !important;
}
.pop-up{
    width: 300px;
    height:400px ;
    border: 1px solid #ccc;
    background-color: #f5e2e2;
}
.pop-up img{
    height:60%;
    width: 100%;
}
 .pop-up p{
    font-size: 14px;
    font-weight: 500;
    color: #888;
    align-items: center;
    display: flex;
    justify-content: center;
}
.pop-up h4{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
}